version: '3'

# https://docs.docker.com/compose/compose-file/

services:
#    portainer:
#        container_name: portainer
#        image: portainer/portainer
#        volumes:
#            - /var/run/docker.sock:/var/run/docker.sock
#            - portainer_data:/data portainer/portainer
#        ports:
#            - "9000:9000"
    node-start-project:
        container_name: node-start-project
        build: 
            context: ./node-start-project
            dockerfile: Dockerfile
        image: node-start-project:1.2.0-SNAPSHOT
        ports:
            - "4000:3000"
    micronaut-start-project:
        container_name: micronaut-start-project
        build: 
            context: ./micronaut-start-project
            dockerfile: Dockerfile
        image: micronaut-start-project:1.2.0-SNAPSHOT
        ports:
            - "8010:8080"
    springboot-start-project:
        container_name: springboot-start-project
        build: 
            context: ./springboot-start-project
            dockerfile: Dockerfile
        image: springboot-start-project:1.0.0-SNAPSHOT
        ports:
            - "8020:8080"
    tomcat-start-project:
        container_name: tomcat-start-project
        build: 
            context: ./tomcat-start-project
            dockerfile: Dockerfile
        image: tomcat-start-project:1.2.0-SNAPSHOT
        ports:
            - "8030:8080"
#    go-start-project:
#        container_name: go-start-project
#        build: 
#            context: ./
#            dockerfile: Dockerfile
#        image: go-start-project:1.2.0-SNAPSHOT
#        ports:
#            - "8040:8080"
    python-start-project:
        container_name: python-start-project
        build: 
            context: ./python-start-project
            dockerfile: Dockerfile
        image: python-start-project:1.2.0-SNAPSHOT
        ports:
            - "8050:5000"
    docker-rocky-nginx:
        container_name: docker-rocky-nginx
        build: 
            context: ./docker-images/docker-rocky-nginx
            dockerfile: Dockerfile
        depends_on:
            - tomcat-start-project
        image: setmy-info-rocky-nginx:v1.16.1
        ports:
            - "80:80"