[submodule "submodules/setmy-info.github.io"]
	path = submodules/setmy-info.github.io
	url = git@github.com:setmy-info/setmy-info.github.io.git
[submodule "submodules/servicejs"]
	path = submodules/servicejs
	url = git@github.com:setmy-info/servicejs.git
[submodule "submodules/servedjs"]
	path = submodules/servedjs
	url = git@github.com:setmy-info/servedjs.git
[submodule "submodules/servedjs-geo"]
	path = submodules/servedjs-geo
	url = git@github.com:setmy-info/servedjs-geo.git
[submodule "submodules/js-api-extend"]
	path = submodules/js-api-extend
	url = git@github.com:setmy-info/js-api-extend.git
[submodule "submodules/servedjs-test"]
	path = submodules/servedjs-test
	url = git@github.com:setmy-info/servedjs-test.git
[submodule "submodules/angular-start-project"]
	path = submodules/angular-start-project
	url = git@github.com:setmy-info/angular-start-project.git
[submodule "submodules/cmake-start-project"]
	path = submodules/cmake-start-project
	url = git@github.com:setmy-info/cmake-start-project.git
[submodule "submodules/freebsd-ports"]
	path = submodules/freebsd-ports
	url = git@github.com:setmy-info/freebsd-ports.git
[submodule "submodules/go-start-project"]
	path = submodules/go-start-project
	url = git@github.com:setmy-info/go-start-project.git
[submodule "submodules/maven-plugin-start-project"]
	path = submodules/maven-plugin-start-project
	url = git@github.com:setmy-info/maven-plugin-start-project.git
[submodule "submodules/node-start-project"]
	path = submodules/node-start-project
	url = git@github.com:setmy-info/node-start-project.git
[submodule "submodules/python-start-project"]
	path = submodules/python-start-project
	url = git@github.com:setmy-info/python-start-project.git
[submodule "submodules/setmy-info-experiments"]
	path = submodules/setmy-info-experiments
	url = git@github.com:setmy-info/setmy-info-experiments.git
[submodule "submodules/setmy-info-scripts"]
	path = submodules/setmy-info-scripts
	url = git@github.com:setmy-info/setmy-info-scripts.git
[submodule "submodules/setmy-info-web-components"]
	path = submodules/setmy-info-web-components
	url = git@github.com:setmy-info/setmy-info-web-components.git
[submodule "submodules/vue-servicejs"]
	path = submodules/vue-servicejs
	url = git@github.com:setmy-info/vue-servicejs.git
[submodule "submodules/angular-start-project"]
	path = submodules/angular-start-project
	url = git@github.com:setmy-info/angular-start-project.git
[submodule "submodules/cmake-start-project"]
	path = submodules/cmake-start-project
	url = git@github.com:setmy-info/cmake-start-project.git
[submodule "submodules/freebsd-ports"]
	path = submodules/freebsd-ports
	url = git@github.com:setmy-info/freebsd-ports.git
[submodule "submodules/go-start-project"]
	path = submodules/go-start-project
	url = git@github.com:setmy-info/go-start-project.git
[submodule "submodules/maven-plugin-start-project"]
	path = submodules/maven-plugin-start-project
	url = git@github.com:setmy-info/maven-plugin-start-project.git
[submodule "submodules/node-start-project"]
	path = submodules/node-start-project
	url = git@github.com:setmy-info/node-start-project.git
[submodule "submodules/python-start-project"]
	path = submodules/python-start-project
	url = git@github.com:setmy-info/python-start-project.git
[submodule "submodules/setmy-info-experiments"]
	path = submodules/setmy-info-experiments
	url = git@github.com:setmy-info/setmy-info-experiments.git
[submodule "submodules/setmy-info-scripts"]
	path = submodules/setmy-info-scripts
	url = git@github.com:setmy-info/setmy-info-scripts.git
[submodule "submodules/setmy-info-web-components"]
	path = submodules/setmy-info-web-components
	url = git@github.com:setmy-info/setmy-info-web-components.git
[submodule "submodules/vue-servicejs"]
	path = submodules/vue-servicejs
	url = git@github.com:setmy-info/vue-servicejs.git
[submodule "submodules/setmy-info-bom"]
	path = submodules/setmy-info-bom
	url = git@github.com:setmy-info/setmy-info-bom.git
[submodule "submodules/vue-start-project"]
	path = submodules/vue-start-project
	url = git@github.com:setmy-info/vue-start-project.git
[submodule "submodules/react-start-project"]
	path = submodules/react-start-project
	url = git@github.com:setmy-info/react-start-project.git
[submodule "submodules/stealer-test-b"]
	path = submodules/stealer-test-b
	url = git@github.com:setmy-info/stealer-test-b.git
[submodule "submodules/stealer-test-a"]
	path = submodules/stealer-test-a
	url = git@github.com:setmy-info/stealer-test-a.git
[submodule "submodules/jenkinsfile-starter"]
	path = submodules/jenkinsfile-starter
	url = git@github.com:setmy-info/jenkinsfile-starter.git
[submodule "submodules/person-names"]
	path = submodules/person-names
	url = git@github.com:setmy-info/person-names.git
[submodule "submodules/stealer"]
	path = submodules/stealer
	url = git@github.com:setmy-info/stealer.git
[submodule "submodules/clojure-start-project"]
	path = submodules/clojure-start-project
	url = git@github.com:setmy-info/clojure-start-project.git
[submodule "submodules/cl-start-project"]
	path = submodules/cl-start-project
	url = git@github.com:setmy-info/cl-start-project.git
[submodule "submodules/firefox-extension-start-project"]
	path = submodules/firefox-extension-start-project
	url = git@github.com:setmy-info/firefox-extension-start-project.git
[submodule "submodules/java-text-function"]
	path = submodules/java-text-function
	url = git@github.com:setmy-info/java-text-function.git
[submodule "submodules/cpp-start-project"]
	path = submodules/cpp-start-project
	url = git@github.com:setmy-info/cpp-start-project.git
[submodule "submodules/tbi-start-project"]
	path = submodules/tbi-start-project
	url = git@github.com:setmy-info/tbi-start-project.git
[submodule "submodules/clj-file-traversal"]
	path = submodules/clj-file-traversal
	url = git@github.com:setmy-info/clj-file-traversal.git
[submodule "submodules/clj-commons"]
	path = submodules/clj-commons
	url = git@github.com:setmy-info/clj-commons.git
[submodule "submodules/clj-file-indexing"]
	path = submodules/clj-file-indexing
	url = git@github.com:setmy-info/clj-file-indexing.git
