### Maven ###
target/
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
release.properties
**/.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/
*/nb-configuration.xml
java-models/nbproject/
tomcat-start-project/nbproject/

setmy-info-scripts/build/

### DB ###
live.mv.db
live.trace.db

setmy-info-docker/setmy-info-centos-java/jdk*
setmy-info-docker/setmy-info-centos-java/openjdk-*.tar.gz
setmy-info-docker/setmy-info-centos-java-tomcat/apache-tomcat-*
setmy-info-docker/setmy-info-centos-node/node-v*
setmy-info-docker/setmy-info-centos-java-zeebe/zeebe-broker-*
setmy-info-docker/setmy-info-centos-java-zeebe/zeebe-distribution-*
setmy-info-docker/setmy-info-centos-java-infinispan/infinispan-server-*

tomcat-start-project/download/*
tomcat-start-project/apache-tomcat*

# cmake
**/_CPack_Packages
**/CMakeFiles
**/CMakeCache.txt
**/*.cmake
setmy-info-scripts/Makefile
setmy-info-scripts/install_manifest.txt
setmy-info-scripts/*.rpm
setmy-info-scripts/*.noarch.sh
setmy-info-scripts/*.noarch.tar.gz
setmy-info-scripts/setmy-info-scripts-1.0.0.noarch.7z
setmy-info-scripts/setmy-info-scripts-1.0.0.noarch.tar.Z
setmy-info-scripts/setmy-info-scripts-1.0.0.noarch.tar.bz2
setmy-info-scripts/setmy-info-scripts-1.0.0.noarch.tar.xz
setmy-info-scripts/setmy-info-scripts-1.0.0.noarch.zip
java-indexing/solr/

# Ports
freebsd-ports/setmy-info-scripts/setmy-info-scripts-**
freebsd-ports/setmy-info-scripts/work/**
freebsd-ports/setmy-info-scripts/distinfo

# Go
**/github.com/*
**/go-start-project/bin/*
**/go-start-project/pkg/**

# Python
**/__pycache__/*

### NodeJS ###
*/node_modules/
**/dist/**

# Logs
node-start-project/*.log
incubation/**/*.log

**/.resourceCache/
temp
tmp
**/derby.log
/java-accounting/nbproject/
/java-exec/nbproject/
