<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="true" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>Web Application</display-name>
    <description>Web Application</description>
    <distributable/>
    <session-config>
        <session-timeout>5</session-timeout>
    </session-config>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <filter>
        <filter-name>WebFilter</filter-name>
        <filter-class>ee.pub.web.filter.WebFilter</filter-class>
    </filter>
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>
    <filter>
        <description>Stripes filter</description>
        <filter-name>stripes</filter-name>
        <filter-class>net.sourceforge.stripes.controller.StripesFilter</filter-class>
        <init-param>
            <param-name>ActionResolver.Packages</param-name>
            <param-value>ee.pub.web.actions.stripes</param-value>
        </init-param>
        <init-param>
            <param-name>Extension.Packages</param-name>
            <param-value>net.sourceforge.stripes.integration.spring</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>WebFilter</filter-name>
        <url-pattern>/public/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>WebFilter</filter-name>
        <url-pattern>/private/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/public/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/private/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>stripes</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>stripes</filter-name>
        <servlet-name>StripesDispatcherServlet</servlet-name>
    </filter-mapping> 
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
    <security-role>
        <role-name>LoginGroupPrincipal</role-name>
    </security-role>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>PubJaasRealm</realm-name>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/loginError.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <!--login-config>
        <auth-method>CLIENT-CERT</auth-method>
        <realm-name>PubJaasRealm</realm-name>
    </login-config-->
    <security-constraint>
        <display-name>PrivateFolderLogin</display-name>
        <web-resource-collection>
            <web-resource-name>Protected area</web-resource-name>
            <description/>
            <url-pattern>/app/*</url-pattern>
            <url-pattern>/private/*</url-pattern>
            <url-pattern>/priv/*</url-pattern>
            <url-pattern>/rest/private/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>LoginGroupPrincipal</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>X509Login</display-name>
        <web-resource-collection>
            <web-resource-name>IDLogin</web-resource-name>
            <url-pattern>/certlogin</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>LoginGroupPrincipal</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <error-page>
        <error-code>401</error-code>
        <location>/error401.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/error403.jsp</location>
    </error-page>
    <error-page>
        <error-code>505</error-code>
        <location>/error50x.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error404.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/errorThrowable.jsp</location>
    </error-page>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <!-- Override init parameter to avoid nasty file locking issue on windows. -->
    <servlet>
        <servlet-name>default</servlet-name>
        <init-param>
            <param-name>useFileMappedBuffer</param-name>
            <param-value>false</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>ee.pub.web.app.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StripesDispatcherServlet</servlet-name>
        <servlet-class>net.sourceforge.stripes.controller.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup> 
    </servlet>
    <servlet-mapping>
        <servlet-name>StripesDispatcherServlet</servlet-name>
        <url-pattern>*.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GroovyServlet</servlet-name>
        <servlet-class>groovy.servlet.GroovyServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Jersey Based Web Service</description>
        <servlet-name>jersey-serlvet</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>ee.pub.web.rest</param-value>
        </init-param>
        <init-param>
            <param-name>jersey.config.server.provider.classnames</param-name>
            <param-value>
                ee.pub.web.rest.filter.ResponseFilter,
                ee.pub.web.rest.filter.RequestFilter,
                ee.pub.web.rest.filter.PreMatchingFilter,
                ee.pub.web.rest.filter.CheckRequestFilter
            </param-value>
        </init-param>
        <init-param>
            <param-name>jersey.config.server.provider.scanning.recursive</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>jersey-serlvet</servlet-name>
        <url-pattern>/rest/public/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jersey-serlvet</servlet-name>
        <url-pattern>/rest/private/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroovyServlet</servlet-name>
        <url-pattern>*.groovy</url-pattern>
        <url-pattern>*.gdo</url-pattern>
    </servlet-mapping>
</web-app>
