<pre>Date object: <em>{{selectedDate| date:'fullDate' }}</em></pre>
<div style="display:inline-block; min-height:290px;">
    <div data-uib-datepicker data-ng-model="selectedDate" data-datepicker-options="inlineOptions"></div>
</div>
<p>{{translations.keys.thisIsPartialFor}} "{{translations.keys.view}} 1". {{model.exampleText}}, {{translations.keys.language}}: "{{translations.selectedLanguage.lang}}"</p>
<p>{{1234| currency}}</p>
<button type="button" class="btn btn-default" data-ng-click="openDialog()">Open me!</button> {{dialogSelected.item.firstName}}
