<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">

    <aop:config>
        <aop:pointcut id="worldServiceOperation" expression="execution(* ee.pub.hibernate.service.WorldService.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="worldServiceOperation"/>
    </aop:config>

    <tx:advice id="txAdvice" transaction-manager="hibernateTransactionManager">
        <tx:attributes>
            <tx:method name="*"/>
        </tx:attributes>
    </tx:advice>

    <bean id="worldService" class="ee.pub.hibernate.service.WorldService">
        <property name="worldDao" ref="worldDao"/>
    </bean>

    <bean id="worldDao" class="ee.pub.hibernate.dao.WorldDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="testDataSource"/>
    </bean -->

    <bean id="hibernateTransactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="testDataSource"/>
        <property name="mappingResources">
            <list>
                <value>hibernate/world.orm.xml</value>
                <!--value>hibernate/country.orm.xml</value>
                <value>hibernate/company.orm.xml</value>
                <value>hibernate/sales.orm.xml</value-->
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="fhibernate.ormat_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">create</prop>
            </props>
        </property>
    </bean>

    <bean id="testDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <description>
            property name="url" value="jdbc:hsqldb:mem:example"
            property name="url" value="jdbc:hsqldb:hsql://localhost:9001"
        </description>
        <property name="driverClassName" value="org.hsqldb.jdbcDriver"/>
        <property name="url" value="jdbc:hsqldb:hsql://localhost:9001"/>
        <property name="username" value="sa"/>
        <property name="password" value=""/>
    </bean>

</beans>
