/* Application specific HTML overloading */

body {
    height: calc(100% - 20px);
    width:  calc(100% - 20px);
    padding: 10px;
}

/* Solution or application centric elements */

.contentHeader {
    height: 20px;    
}

.content {
    height: calc(100% - 40px);
}

.contentLeft {
    width:  30%;
}

.contentRight {
    width:  70%;
    height: 100%;
}

.contentLeftUp {
    height: 60%;
}

.contentLeftBottom {
    height: 40%;
}

.contentRightUp {
    height: 30%;
}

.contentRightBottom {
    height: 70%;
}

.contentFooter {
    height: 20px;    
}
