#.mvn
#src/test
#src/main/java
#src/main/resouorces
#pom.xml
#target
target/local.mv.db
target/local.trace.db
target/logback-test.log
target/springboot-start-project-0.0.1-SNAPSHOT-sources.jar
target/springboot-start-project-0.0.1-SNAPSHOT.jar.original
derby.log
logback.log
.idea
archived
README.md
target/classes
target/cucumber
target/failsafe-reports
target/generated
target/generated-sources
target/generated-test-sources
target/jacoco.exec
target/jacoco-ut
target/maven-archiver
target/maven-status
target/site
target/surefire-reports
target/test-classes
